{{!--  --}}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
bugers 
        </div>

        <div class="col-sm-4">

add buger here
        </div>

       <div class="col-sm-4">
devoured
       </div>
    </div>
</div>