{{!--  --}}


<div class="container">
        <div class="row">
                <div class="col-sm-6">

                        {{#each burgers  }}

                        {{#unless devoured}}
                             <h6>{{burger_name}} <span><button data-id={{id}} class = "Devoured">DEVOURED</button></span></h6>   

                        <br>
                        {{/unless}}

                        {{/each}}
                </div>

                <div class="col-sm-3">
                              <img src="/assets/images/burger.png" alt="">
                      <input type="text" id="burgerName"  class ="form-control" />
                       <button id="addBurger">ADD NEW BURGER </button>
                </div>

                <div class="col-sm-3 text-center">
                        {{#each burgers}}
                        {{#if devoured}}
                        {{burger_name}} <br>
                        {{/if}}
                        {{/each}}

                </div>
        </div>
</div>